<ol>
<% @recipes.each do |recipe|%>
  <li>
    <strong>Name:</strong> <%= recipe.name %><br/>
    <strong>Ingredients:</strong> <%= recipe.ingredients %><br/>
    <strong>Cook time:</strong> <%= recipe.cook_time %><br/>
  </li>
<% end %>
</ol>
<a href="/recipes/<%= recipe.id %>">