<ol>
<% @recipes.each do |recipe|%>
  <li>
    Name: <%= recipe.name %><br/>
    Ingredients: <%= recipe.ingredients %><br/>
    Cook time <%= recipe.cook_time %><br/>
  </li>
<% end %>
</ol>
